.showBorder{
	border: 1px solid yellow;
}

body {
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	
	background-image:url(../images/background.png);
	
	background-repeat:repeat-x;
	background-color: #EEEFE4;
}

/******** NAVIGATION BAR ********/
menu{ /* Div containing nav bar */
	margin-bottom: -50px;
}
.navbar-default { /* Background colour of nav bar */
	
}
.navbar{ /* The nav bar*/
	background-color: #597635;
	border-color: #597635;
	margin: 0px;
	border: 0px;
}
.navbar-brand{ /* Nav bar title */
	color: #FFFFFF !important;
	font-weight: bold;
}
.active > a{ /* Active nav bar option */
	background-color: #486524 !important;
}
.nav > li > a{ /* Nav bar button text */
	color: #FFFFFF !important;
	font-weight: bold;
}
.nav > li > a:hover{ /* Nav bar button hover text */
	background-color: #6A8746 !important;
}

/******** CONTAINER FOR INFO ********/
.container-fluid{
	margin-left: -15px;
	margin-right: -15px;
	border-radius: 4px;
	background-color: #FFF;
}
@media (min-width: 992px) {
  .container, #banner {
    width: 950px;
  }
}
@media (min-width: 1200px) {
  .container, #banner {
    width: 1000px;
  }
}

/******** TEXT OPTIONS ********/
.centeredText{ /* Centered text, ex. index.html */
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.infoText{ /* Info text, ex. ci.html */
	padding-left: 40px;
	padding-right: 40px;
	margin-bottom: 30px;
}
h2{
	font-weight: bold;
}
.infoSubText{ /* Sub text, ex. ci.html */
	padding-left: 70px;
	text-align: left;
}
